<div class="form">
    <h1>Tenant Rating</h1>
        <form>
            <fieldset>
                <div class="form-group">
                    <label for="rent">How often did the tenant pay their rent late?</label>
                    <input class="form-control" type="text" id="rent" placeholder="" />once, every month, never, ?
                </div>
                <div class="form-group">
                    <label for="neighbors">Was the tenant(s) respectful of the neighbors?</label>
                    <input class="form-control" type="text" id="neighbors" placeholder="" />Strongly agree <–> Strongly disagree
                </div>
                <div class="form-group">
                    <label for="property">Was the tenant(s) respectful of the property?</label>
                    <input class="form-control" type="text" id="property" placeholder="" />Strongly agree <–> Strongly disagree
                </div>
                <div class="form-group">
                    <label for="contact">How many times per month did the tenant(s) contact you?</label>
                    <input class="form-control" type="text" id="contact" placeholder="" />never, once, every week, everyday, a few times
                </div>
                <div class="form-group">
                    <label for="deposit">Did you have to keep a portion of the tenant(s) security deposit?</label>
                    <input class="form-control" type="text" id="deposit" placeholder="" />Y/N
                    If yes, why? provide list of canned reasons
                </div>
                <div class="form-group">
                    <label for="court">Did your tenant(s) take you to court at any point during their tenure?</label>
                    <input class="form-control" type="text" id="court" placeholder="" />Y/N
                </div>
                <div class="form-group">
                    <label for="lease">Did the tenant(s) violate the terms of their lease during their tenure?</label>
                    <input class="form-control" type="text" id="lease" placeholder="" />Y/N
                    If yes, why?
                </div>
            </fieldset>

            <button class="btn btn-block btn-default" ng-click="saveTenantRating()">Submit</button>
        </form>
</div>